

<div class="jumbotron">
    <h3>Nova Pagina</h3>

    <div>
        <a href="/paginas" class="btn btn-default ">Voltar</a>
    </div>

    <form action="/paginas/criar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" id="data" name="data">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo:</label>
            <script src="https://cdn.tiny.cloud/1/e5igzv226zzyjhglfk7c18bewpa4ptnmccsodgbwkpa0ha1w/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({ selector: 'textarea' });</script>
            <textarea id="conteudo" class="form-control" name="conteudo"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Salvar</button>
    </form>

</div>

